<div class="header">
  <div class="navbar navbar-inverse navbar-fiexed-top">
    <div class="container">
      <h1 class="navbar-brand" style="color:#DBE8F9"> <%= greeting %>  <%= req.session.user.first_name %>  <%=req.session.user.last_name%></h1>
      <a class="button-link" href="/signout"> Signout</a>
    </div>
  </div>
</div><br> <br>

<div class="table"> 
  <table align="center">
    <tr>
      <td>
        <a class="button-link" href="/blogs/new"> New Blog </a>
      </td>
    </tr>
  </table>

  <table cellpadding="10">
    <% blog.forEach(function(blg){ %>
      <tr>
        <td width="80%", align="left">
          <a href="/blogs/<%=blg.id%>"> <%=blg.title%> </a> 
        </td>
        <td width="20%", align="center">
          <a href="/blogs/<%=blg.id%>/edit"> revise this blog </a> 
        </td>
        <td align="right">
          <form action="/blogs/<%=blg.id%>" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="submit" value="remove">
          </form> 
          <!-- <a href="/blogs/<%=blg.id%>/delete" onClick="return confirm('Sigurado Ka?');"> remove </a> <br> -->
        </td>
      </tr>
    <% }) %>  
  </table>
</div>





<div> 
  <% /* blog.forEach( function (blog) { %>
    <p> <%= blg.title %> </p> 
    <br>  
  <% }) */ %>
</div>


<div> 
  <% /* for (i in blog) {%>
    <p> <%= blog[i].title %> </p>
  <% }  */%>
</div>



<div> 
  <% /* _.each( blog, function (blg) { %>
    <p> <%= blg.title %> </p>      
  <%}) */%>
</div>

</div>